<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>VYUH | AAGNEYA</title>

<link rel="icon" href="http://logicsforest.com/themeforest/zoonx/images/favicon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="css/master.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Header Start -->
<header id="header-1">
	<!-- Navbar Start -->
	<nav class="navbar navbar-default navbar-fixed navbar-scrollspy bootsnav" data-minus-value-desktop="0" data-minus-value-mobile="55" data-speed="800">
		<div class="container">
			<!-- Start Header Navigation -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <i class="fa fa-bars"></i> </button>
				<a class="navbar-brand" href="http://logicsforest.com/themeforest/zoonx/index.html">
           <img src="images/mobile_logo.png" class="logo logo-display" alt="">
           <img src="images/logo_2.png" class="logo logo-scrolled" alt="">
        </a>
			</div>
			<!-- End Header Navigation -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="scroll"><a href="index.html#header-1">Home</a> </li>
					<li class="scroll"><a href="index.html#aboutus">Profile</a> </li>
					<li class="scroll"><a href="index.html#gallery">Game</a> </li>
					<li class="scroll"><a href="index.html#pricing_table">Rank List</a> </li>
					<li class="scroll"><a href="index.html#latest_news">Rules</a> </li>
					<li class="scroll"><a href="index.html#contact_us">How to Play</a> </li>
					<li class="scroll"><a href="index.html#contact_us">Logout</a> </li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	</header>
<!-- Header Start -->

	

<!--Main Slider-->
<div id="rev-slider" class="rev_slider" data-version="5.0">
	<ul>

		<!-- SLIDE - 1 -->
		<li data-transition="fade"><img src="images/bannar_2.jpg" alt="" data-bgposition="center center" data-bgfit="cover">
			<!-- LAYER NR. 1 -->
			<h1 class="tp-caption tp-resizeme text-center" 
            data-x="center" 
            data-y="280" 
            data-width="full" 
            data-transform_idle="o:1;" 
            data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
            data-start="700">Beautifuly crafted world class
      		</h1>
			<!-- LAYER NR. 2 -->
			<h1 class="tp-caption tp-resizeme text-center" 
            data-x="center" 
            data-y="360" 
            data-width="full" 
            data-transform_idle="o:1;" 
            data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
            data-start="500">
          	<span class="color_red text_bold">digital experiences</span> 
      		</h1>
			<!-- LAYER NR. 4 -->
			<div class="tp-caption  tp-resizeme text-center" 
            data-x="center" data-y="470" 
            data-width="full" 
            data-transform_idle="o:1;" 
            data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
            data-start="1500"> 
            <span class="scroll"><a href="index.html#pricing_table" class="btn-dark">Login With Facebook</a></span>
            </div>
		</li>
	</ul>
</div>
<!--Main Slider ends -->	
	




<script src="js/jquery.2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>    
<script src="js/bootsnav.js"></script>

    <!--To View on scroll-->
<script src="js/jquery.appear.js"></script>    
    
    <!--OWL Slider-->
<script src="js/owl.carousel.min.js"></script>

    <!--Cube Gallery-->
<script src="js/cubeportfolio.min.js"></script>
    
    <!--Parallax Bgs-->
<script src="js/parallaxie.js"></script>
	
      <!--Particles Bgs-->
<script src="js/jquery.particleground.min.js"></script>	  
    <!--Counters-->
<script src="js/jquery-countTo.js"></script>
    
    <!--Fancy Popup for imgs videos-->
<script src="js/jquery.fancybox.js"></script>
    
    <!--Revolution Slider main files-->
<script src="js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
<script src="js/revolution/revolution.extension.actions.min.js"></script>
<script src="js/revolution/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution/revolution.extension.navigation.min.js"></script>
<script src="js/revolution/revolution.extension.parallax.min.js"></script>
<script src="js/revolution/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution/revolution.extension.video.min.js"></script>

    
<!--wow transitions-->
<script src="js/wow.min.js"></script>
<script src="js/function.js"></script>
    
<!-- <script src="http://maps.google.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U" type="text/javascript"></script>
<script src="js/map.js"></script> -->
</body>
</html>