<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>ZOONX - One Page Parallax Template</title>

<link rel="icon" href="http://logicsforest.com/themeforest/zoonx/images/favicon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="css/master.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Loader Start -->
<div class="loader">
  <div class="loader_inner">
    <div class="la-ball-circus">
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
    </div>
  </div>
</div>
<!-- Loader End -->

<!-- Header Start -->
<header id="header-1">
	<!-- Navbar Start -->
	<nav class="navbar navbar-default navbar-fixed navbar-scrollspy bootsnav" data-minus-value-desktop="0" data-minus-value-mobile="55" data-speed="800">
		<div class="container">
			<!-- Start Header Navigation -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <i class="fa fa-bars"></i> </button>
				<a class="navbar-brand" href="http://logicsforest.com/themeforest/zoonx/index.html">
           <img src="images/mobile_logo.png" class="logo logo-display" alt="">
           <img src="images/logo_2.png" class="logo logo-scrolled" alt="">
        </a>
			</div>
			<!-- End Header Navigation -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="scroll"><a href="index.html#header-1">Home</a> </li>
					<li class="scroll"><a href="index.html#aboutus">About</a> </li>
					<li class="scroll"><a href="index.html#gallery">Portfolio</a> </li>
					<li class="scroll"><a href="index.html#pricing_table">Prices</a> </li>
					<li class="scroll"><a href="index.html#latest_news">News</a> </li>
					<li class="scroll"><a href="index.html#contact_us">Contact</a> </li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	</header>
<!-- Header Start -->

	

<!--Main Slider-->
<div id="rev-slider" class="rev_slider" data-version="5.0">
	<ul>

		<!-- SLIDE - 1 -->
		<li data-transition="fade"><img src="images/bannar_2.jpg" alt="" data-bgposition="center center" data-bgfit="cover">
			<!-- LAYER NR. 1 -->
			<h1 class="tp-caption tp-resizeme text-center" 
            data-x="center" 
            data-y="280" 
            data-width="full" 
            data-transform_idle="o:1;" 
            data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
            data-start="700">Beautifuly crafted world class
      		</h1>
			<!-- LAYER NR. 2 -->
			<h1 class="tp-caption tp-resizeme text-center" 
            data-x="center" 
            data-y="360" 
            data-width="full" 
            data-transform_idle="o:1;" 
            data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
            data-start="500">
          	<span class="color_red text_bold">digital experiences</span> 
      		</h1>
			<!-- LAYER NR. 4 -->
			<div class="tp-caption  tp-resizeme text-center" 
            data-x="center" data-y="470" 
            data-width="full" 
            data-transform_idle="o:1;" 
            data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
            data-start="1500"> 
            <span class="scroll"><a href="index.html#pricing_table" class="btn-dark">Get Started</a></span>
            <span class="scroll"><a href="index.html#contact_us" class="btn-light">Contact Now</a></span> 
            </div>
		</li>
        
		<li data-transition="fade"> <img src="images/bannar_2.jpg" alt="" data-bgposition="center center" data-bgfit="cover">
			<!-- LAYER NR. 1 -->
			<h1 class="tp-caption tp-resizeme text-center" 
	            data-x="center" data-y="280" 
	            data-width="full" 
	            data-transform_idle="o:1;" 
	            data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
	            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
	            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
	            data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
	            data-start="700">Driven by Passion fuel by ideas
      		</h1>
			<!-- LAYER NR. 2 -->
			<h1 class="tp-caption tp-resizeme text-center" 
	            data-x="center" 
	            data-y="360" 
	            data-width="full" 
	            data-transform_idle="o:1;" 
	            data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
	            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
	            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
	            data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
	            data-start="500">
          	<span class="color_red text_bold">we do our best</span> 
      		</h1>
			<!-- LAYER NR. 4 -->
			<div class="tp-caption  tp-resizeme text-center" 
			data-x="center" 
			data-y="470" 
			data-width="full" 
			data-transform_idle="o:1;" 
			data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
			data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
			data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
			data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
			data-start="1500"> 
				<span class="scroll"><a href="index.html#pricing_table" class="btn-dark">Get Started</a></span> 
				<span class="scroll"><a href="index.html#contact_us" class="btn-light">Contact Now</a></span> 
			</div>
		</li>

		<li data-transition="fade"> <img src="images/bannar_3.jpg" alt="" data-bgposition="center center" data-bgfit="cover">
			<!-- LAYER NR. 1 -->
			<h1 class="tp-caption tp-resizeme text-center" 
				data-x="center" 
				data-y="280" 
				data-width="full" 
				data-transform_idle="o:1;" 
				data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
				data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
				data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
				data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
				data-start="700">Fast & flexible web design
      		</h1>
			<!-- LAYER NR. 2 -->
			<h1 class="tp-caption tp-resizeme text-center" 
				data-x="center" 
				data-y="360" 
				data-width="full" 
				data-transform_idle="o:1;" 
				data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
				data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
				data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
				data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
				data-start="500">
	          	<span class="color_red text_bold">solutions</span> 
      		</h1>

			<!-- LAYER NR. 4 -->
			<div class="tp-caption  tp-resizeme text-center" 
				data-x="center" 
				data-y="470" 
				data-width="full" 
				data-transform_idle="o:1;" 
				data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
				data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
				data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
				data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
				data-start="1500"> 
				<span class="scroll"><a href="index.html#pricing_table" class="btn-dark">Get Started</a></span> 
				<span class="scroll"><a href="index.html#contact_us" class="btn-light">Contact Now</a></span> 
			</div>
		</li>

	</ul>
</div>
<!--Main Slider ends -->	
	
	
<!-- About US -->
<section id="aboutus" class="padding80">
	<div class="features-img hidden-xs">
		<img class="img-responsive" src="images/main-feature.png" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center heading">
				<p>Don't Take our brands</p>
				<h2>Awesome <span>Features</span></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7"></div>
			<div class="col-sm-5">
				<div class="media service-box">
					<div class="pull-left">
						<i class="fa fa-line-chart"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">UX/ UI design</h4>
						<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
					</div>
				</div>
				<div class="media service-box">
					<div class="pull-left">
						<i class="fa fa-support"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading"> Fultime Support</h4>
						<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
					</div>
				</div>
				<div class="media service-box">
					<div class="pull-left">
						<i class="fa fa-pie-chart"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">SEO Services</h4>
						<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
					</div>
				</div>
				<div class="media service-box">
					<div class="pull-left">
						<i class="fa fa-pie-chart"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Web Development</h4>
						<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Us End -->

	
<!--Equal Blocks choose us-->
<section class="equal-section bglight">
	<div class="fullbg leftimg"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
				<div class="equal-text">
					<div class="heading">
						<p>Don't take our brandss</p>
						<h2>why to <span>choos Us</span></h2>
					</div>
					<p>Lorem ipsum dolor sit amet, onsectetur adipiscing elit. Quisque nec erat erat. er blandit, nulla quis fermentumLorem ipsum dolor sit amet, onsectetur adipiscing elit. Quisque nec erat erat. er blandit, nulla quis fermentum, er blandit, nulla quis fermentumLorem ipsum dolor sit.</p>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12 text-center" style="visibility: visible; animation-name: fadeInLeft;">
							<div class="iconic-box">
								<span class="iconic"><i class="fa fa-code"></i></span>
								<h4>Development</h4>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 text-center" style="visibility: visible; animation-name: fadeInUp;">
							<div class="iconic-box">
								<span class="iconic"><i class="fa fa-laptop"></i></span>
								<h4>Designing</h4>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 text-center" style="visibility: visible; animation-name: fadeInRight;">
							<div class="iconic-box">
								<span class="iconic"><i class="fa fa-support"></i></span>
								<h4>Support</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Equal Blocks Choose ends-->
	
	
<!--Equal Progress Bars-->
<section class="equal-section bglight">
	<div class="fullbg rightimg"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="equal-text">
					<div class="heading">
						<p>Don't take our brandss</p>
						<h2>we are <span>Creative</span></h2>
					</div>
					<div class="row">
						<div class="col-md-12 progress-container">

							<div class="barwrapper">
								<span class="progressText">HTML5</span>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
										<span class="popOver" data-toggle="tooltip" data-placement="top" title="85%"> </span>
									</div>
								</div>
							</div>
							<div class="barwrapper">
								<span class="progressText">CSS3</span>
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="">
										<span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"> </span>
									</div>
								</div>
							</div>
							<div class="barwrapper">
								<span class="progressText">JQUERY</span>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
										<span class="popOver" data-toggle="tooltip" data-placement="top" title="55%"> </span>
									</div>
								</div>
							</div>
							<div class="barwrapper">
								<span class="progressText">MYSQL</span>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
										<span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>
									</div>
								</div>
							</div>
							<div class="barwrapper">
								<span class="progressText">PHP</span>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
										<span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"> </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	
<!--Gallery-->
<section id="gallery" class="padding80">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-center heading_space">
				<div id="work-filters" class="cbp-l-filters">
					<div data-filter="*" class="cbp-filter-item">graphics</div>
					<div data-filter=".web" class="cbp-filter-item"> web development</div>
					<div data-filter=".print" class="cbp-filter-item">Print media</div>
					<div data-filter=".logo" class="cbp-filter-item">Logo mockup</div>
					<div data-filter=".apps" class="cbp-filter-item">Applications</div>
				</div>
			</div>
		</div>
	</div>
	<div id="work-gallery" class="cbp">
		<div class="cbp-item logo web">
			<div class="image">
				<img src="images/working1.jpg" alt="">
			</div>
			<div class="overlay">
				<div class=" center-block text-center">
					<ul class="gallery-link">
						<li>
							<a href="images/working1.jpg" data-fancybox="gallery"> <i class="fa fa-search-plus"></i> </a></li>
						<li>
							<a href="index.html#" class="gallery_link" target="_blank"><i class="fa fa-link"></i></a>
						</li>
					</ul>
					<h4 class="m_top30 darkcolor">Creativity Betters</h4>
				</div>
			</div>
		</div>
		<div class="cbp-item print apps">
			<div class="image">
				<img src="images/working2.jpg" alt="">
			</div>
			<div class="overlay">
				<div class=" center-block text-center">
					<ul class="gallery-link">
						<li>
							<a href="images/working2.jpg" data-fancybox="gallery"> <i class="fa fa-search-plus"></i> </a></li>
						<li>
							<a href="index.html#" class="gallery_link" target="_blank"><i class="fa fa-link"></i></a>
						</li>
					</ul>
					<h4 class="m_top30 darkcolor">Creativity Betters</h4>
				</div>
			</div>
		</div>
		<div class="cbp-item logo print">
			<div class="image">
				<img src="images/working3.jpg" alt="">
			</div>
			<div class="overlay">
				<div class=" center-block text-center">
					<ul class="gallery-link">
						<li>
							<a href="images/working3.jpg" data-fancybox="gallery"> <i class="fa fa-search-plus"></i> </a></li>
						<li>
							<a href="index.html#" class="gallery_link" target="_blank"><i class="fa fa-link"></i></a>
						</li>
					</ul>
					<h4 class="m_top30 darkcolor">Creativity Betters</h4>
				</div>
			</div>
		</div>
		<div class="cbp-item web">
			<div class="image">
				<img src="images/working4.jpg" alt="">
			</div>
			<div class="overlay">
				<div class=" center-block text-center">
					<ul class="gallery-link">
						<li>
							<a href="images/working4.jpg" data-fancybox="gallery"> <i class="fa fa-search-plus"></i> </a></li>
						<li>
							<a href="index.html#" class="gallery_link" target="_blank"><i class="fa fa-link"></i></a>
						</li>
					</ul>
					<h4 class="m_top30 darkcolor">Creativity Betters</h4>
				</div>
			</div>
		</div>
		<div class="cbp-item apps prints">
			<div class="image">
				<img src="images/working5.jpg" alt="">
			</div>
			<div class="overlay">
				<div class=" center-block text-center">
					<ul class="gallery-link">
						<li>
							<a href="images/working5.jpg" data-fancybox="gallery"> <i class="fa fa-search-plus"></i> </a></li>
						<li>
							<a href="index.html#" class="gallery_link" target="_blank"><i class="fa fa-link"></i></a>
						</li>
					</ul>
					<h4 class="m_top30 darkcolor">Creativity Betters</h4>
				</div>
			</div>
		</div>
		<div class="cbp-item web logo">
			<div class="image">
				<img src="images/working6.jpg" alt="">
			</div>
			<div class="overlay">
				<div class=" center-block text-center">
					<ul class="gallery-link">
						<li>
							<a href="images/working6.jpg" data-fancybox="gallery"> <i class="fa fa-search-plus"></i> </a></li>
						<li>
							<a href="index.html#" class="gallery_link" target="_blank"><i class="fa fa-link"></i></a>
						</li>
					</ul>
					<h4 class="m_top30 darkcolor">Creativity Betters</h4>
				</div>
			</div>
		</div>
		<div class="cbp-item web logo">
			<div class="image">
				<img src="images/working7.jpg" alt="">
			</div>
			<div class="overlay">
				<div class=" center-block text-center">
					<ul class="gallery-link">
						<li>
							<a href="images/working7.jpg" data-fancybox="gallery"> <i class="fa fa-search-plus"></i> </a></li>
						<li>
							<a href="index.html#" class="gallery_link" target="_blank"><i class="fa fa-link"></i></a>
						</li>
					</ul>
					<h4 class="m_top30 darkcolor">Creativity Betters</h4>
				</div>
			</div>
		</div>
		<div class="cbp-item web logo">
			<div class="image">
				<img src="images/working8.jpg" alt="">
			</div>
			<div class="overlay">
				<div class=" center-block text-center">
					<ul class="gallery-link">
						<li>
							<a href="images/working8.jpg" data-fancybox="gallery"> <i class="fa fa-search-plus"></i> </a></li>
						<li>
							<a href="index.html#" class="gallery_link" target="_blank"><i class="fa fa-link"></i></a>
						</li>
					</ul>
					<h4 class="m_top30 darkcolor">Creativity Betters</h4>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Gallery ends-->	
	
<!-- Counter Section -->
<div id="counter-section">
	<div class="container">
		<div class="row number-counters text-center">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- first count item -->
				<div class="counters-item">
					<i class="fa fa-file" aria-hidden="true"></i>
					<!-- Set Your Number here. i,e. data-to="56" -->
					<strong data-to="520">0</strong>
					<p>Wordpress</p>
					<div class="border-inner"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- first count item -->
				<div class="counters-item">
					<i class="fa fa-users" aria-hidden="true"></i>
					<!-- Set Your Number here. i,e. data-to="56" -->
					<strong data-to="5620">0</strong>
					<p>Themes</p>
					<div class="border-inner"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- first count item -->
				<div class="counters-item">
					<i class="fa fa-th" aria-hidden="true"></i>
					<!-- Set Your Number here. i,e. data-to="56" -->
					<strong data-to="1520">0</strong>
					<p>Custom</p>
					<div class="border-inner"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- first count item -->
				<div class="counters-item">
					<i class="fa fa-th-list" aria-hidden="true"></i>
					<!-- Set Your Number here. i,e. data-to="56" -->
					<strong data-to="5020">0</strong>
					<p>Users</p>
					<div class="border-inner"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Counter Section -->	
    
<!-- Services Start -->
<div class="container padding_top80">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="offer-img-image" style="visibility: visible; animation-name: fadeInUp;">
				<img src="images/offer-img.jpg" alt="image">
			</div>
		</div>
	</div>
</div>
<section id="services-5" class="padding80">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="heading">
					<p>What We Do?</p>
					<h2>core <span> service</span></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 text-center">
				<div class="services-5-box">
					<i class="fa fa-image"></i>
					<h3>Unique Designs</h3>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eius mod tempor incididunt Lorem ipsum dolor amet..</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 text-center">
				<div class="services-5-box">
					<i class="fa fa-code" aria-hidden="true"></i>
					<h3>Quality Code</h3>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eius mod tempor incididunt Lorem ipsum dolor amet..</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 text-center">
				<div class="services-5-box">
					<i class="fa fa-laptop" aria-hidden="true"></i>
					<h3>Web Development</h3>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eius mod tempor incididunt Lorem ipsum dolor amet..</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 text-center">
				<div class="services-5-box">
					<i class="fa fa-wordpress" aria-hidden="true"></i>
					<h3>Wordpress</h3>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eius mod tempor incididunt Lorem ipsum dolor amet..</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 text-center">
				<div class="services-5-box">
					<i class="fa fa-cog" aria-hidden="true"></i>
					<h3>Customization</h3>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eius mod tempor incididunt Lorem ipsum dolor amet..</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 text-center">
				<div class="services-5-box">
					<i class="fa fa-headphones" aria-hidden="true"></i>
					<h3>Support 24H</h3>
					<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eius mod tempor incididunt Lorem ipsum dolor amet..</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Services End -->
 
        
<!-- Pricing Table Start -->
<section id="pricing_table" class="padding_bottom80 padding_top80">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="heading">
					<p>Affordable Packages</p>
					<h2>Our <span>Pricing</span></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="pricing_tabs">
				<div class="nav nav-tabs">
					<div class="col-md-4 col-sm-4 col-xs-12 text-center">
						<div class="table_data">
							<div class="table_heading">
								<h2>Basic</h2>
							</div>
							<h3><span>$</span>2.99</h3> <span> 12 Month Plan</span>
							<ul class="list-support">
								<li>24/7 Free Tech Support</li>
								<li>2GB Bandwidth Available</li>
								<li>Unlimited User Access</li>
								<li>200GB Storage Space</li>
							</ul>
							<div class="get_start scroll">
							<a class="btn btn-primary active" role="button" data-toggle="collapse" href="index.html#collapseExample" aria-expanded="false" aria-controls="collapseExample">Start Now</a> 
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 text-center">
						<div class="table_data active">
							<div class="table_heading">
								<h2>Advance</h2>
							</div>
							<h3><span>$</span>49.99</h3> <span>12 Month Plan</span>
							<ul class="list-support">
								<li>24/7 Free Tech Support</li>
								<li>2GB Bandwidth Available</li>
								<li>Unlimited User Access</li>
								<li>200GB Storage Space</li>
							</ul>
							<div class="get_start scroll"><a class="btn btn-primary active" role="button" data-toggle="collapse" href="index.html#collapseExample" aria-expanded="false" aria-controls="collapseExample">Start Now</a> </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 text-center">
						<div class="table_data">
							<div class="table_heading">
								<h2>Premium</h2>
							</div>
							<h3><span>$</span>99.99</h3> <span>12 Month Plan</span>
							<ul class="list-support">
								<li>24/7 Free Tech Support</li>
								<li>2GB Bandwidth Available</li>
								<li>Unlimited User Access</li>
								<li>200GB Storage Space</li>
							</ul>
							<div class="get_start scroll"><a class="btn btn-primary active" role="button" data-toggle="collapse" href="index.html#collapseExample" aria-expanded="false" aria-controls="collapseExample">Start Now</a> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="collapse" id="collapseExample">
			<div class="well">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="home">
						<div class="row padding_top30">
							<div class="col-md-12">
								<div class="heading">
									<h2>Additional <span>Features</span></h2>
								</div>
							</div>
							<div class="col-md-8 col-sm-8 col-xs-12">
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th class="add_on">Add Ons</th>
											</tr>
										</thead>
										<tbody class="table_form">
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">Basic changes plan 12 month term</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">Classic changes plan 12 month term (- Set changes type (consider per change type, or per hour)</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">Advanced changes plan</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">Hosting package – domain registration, server configuration, transfer</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">E-commerce – store, shopping cart, checkout</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">SEO optimization</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">EMAIL Marketing</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">Social media marketing</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
                                                                <input type="checkbox">FB/Google marketing – Adwords, fb blast, give pricing</label>
												</td>
											</tr>
									</table>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th class="add_on">Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>$20/2 hours per month – time bucket</td>
											</tr>
											<tr>
												<td>$50/5 hours per month</td>
											</tr>
											<tr>
												<td>$100/10 per month</td>
											</tr>
											<tr>
												<td>$50 per month</td>
											</tr>
											<tr>
												<td>$300</td>
											</tr>
											<tr>
												<td>$100</td>
											</tr>
											<tr>
												<td>$100 per month x 5 emails</td>
											</tr>
											<tr>
												<td>$50 per account per month, choose accounts</td>
											</tr>
											<tr>
												<td>Analytics $20 / month</td>
											</tr>
									</table>
								</div>
							</div>
							<div class="col-md-12 text-center">
								<div class="table_button"><span class="scroll"><a href="index.html#contact_us" class="btn-dark">Get Quote now</a></span> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Pricing Table End -->


<!-- Offer Start -->
<div class="offer_section padding_top30 padding_bottom30">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="offer_image"> <img src="images/website-cost-cta-image.png" alt="image"> </div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="offer_text text-center">
					<h2>Are you ready to be success?</h2>
					<div class="scroll padding_top30">
						<a href="index.html#contact_us" class="btn-light"> Contact Us </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Offer end -->

<!-- Latest News Start -->
<section id="latest_news" class="padding80">
	<div class="container">
		<div class="row">
			<div class="col-md-12 wow fadeInDown">
				<div class="heading">
					<p>Don't take our brands</p>
					<h2>Latest <span>News</span></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="latest_slider" class="owl-carousel">
					<div class="item">
						<div class="latest_detail">
							<img src="images/news1.jpg" alt="image">
							<div class="latest_text">
								<h4 class="darkcolor"><a href="index.html#.">Secure strong revenue growth</a></h4>
								<div class="ourmeta">
									<a href="javascript:void(0)"><i class="fa fa-user-o"></i> Admin</a>
									<a href="javascript:void(0)"><i class="fa fa-calendar"></i> Feb 22, 2018</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power...</p>
								<a href="index.html#." class="readmore">Read More</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="latest_detail">
							<img src="images/news2.jpg" alt="image">
							<div class="latest_text">
								<h4 class="darkcolor"><a href="index.html#.">Secure strong revenue growth</a></h4>
								<div class="ourmeta">
									<a href="javascript:void(0)"><i class="fa fa-user-o"></i> Admin</a>
									<a href="javascript:void(0)"><i class="fa fa-calendar"></i> Apr 06, 2018</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power...</p>
								<a href="index.html#." class="readmore">Read More</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="latest_detail">
							<img src="images/news3.jpg" alt="image">
							<div class="latest_text">
								<h4 class="darkcolor"><a href="index.html#.">Secure strong revenue growth</a></h4>
								<div class="ourmeta">
									<a href="javascript:void(0)"><i class="fa fa-user-o"></i> Admin</a>
									<a href="javascript:void(0)"><i class="fa fa-calendar"></i> Jan 16, 2018</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power...</p>
								<a href="index.html#." class="readmore">Read More</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="latest_detail">
							<img src="images/news4.jpg" alt="image">
							<div class="latest_text">
								<h4 class="darkcolor"><a href="index.html#.">Secure strong revenue growth</a></h4>
								<div class="ourmeta">
									<a href="javascript:void(0)"><i class="fa fa-user-o"></i> Admin</a>
									<a href="javascript:void(0)"><i class="fa fa-calendar"></i> Jan 26, 2018</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power...</p>
								<a href="index.html#." class="readmore">Read More</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="latest_detail">
							<img src="images/news1.jpg" alt="image">
							<div class="latest_text">
								<h4 class="darkcolor"><a href="index.html#.">Secure strong revenue growth</a></h4>
								<div class="ourmeta">
									<a href="javascript:void(0)"><i class="fa fa-user-o"></i> Admin</a>
									<a href="javascript:void(0)"><i class="fa fa-calendar"></i> Mar 22, 2018</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power...</p>
								<a href="index.html#." class="readmore">Read More</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="latest_detail">
							<img src="images/news2.jpg" alt="image">
							<div class="latest_text">
								<h4 class="darkcolor"><a href="index.html#.">Secure strong revenue growth</a></h4>
								<div class="ourmeta">
									<a href="javascript:void(0)"><i class="fa fa-user-o"></i> Admin</a>
									<a href="javascript:void(0)"><i class="fa fa-calendar"></i> Feb 10, 2018</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam power...</p>
								<a href="index.html#." class="readmore">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Latest News End -->
    
<!-- Testimonial Start -->
<section id="testimonial-bg" class="padding80 parallaxie">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div id="testinomial_rotator" class="owl-carousel">
						<div class="item">
							<img class="img-circle" src="images/01.jpg" alt="">
							<h4>Louise S. Morgan</h4>
							<small>Founder Zoonx </small>
							<p>We create beautiful digital work. But that's only part of the story. To us, every part of the experience must be beautiful. from user interactions, to your journey throughout the development process and beyond and it takes the experience of our team and our agency to do both.</p>
						</div>
						<div class="item">
							<img class="img-circle" src="images/02.jpg" alt="">
							<h4>Monaish Silway</h4>
							<small>Director Projects</small>
							<p>An obvious inspiration is Nature from where we put our eyes at all the times. Surely nothing else inspires us more than this creative giant bulb full of idea only if we pay some attention. That’s what happened when their founders realized that investing in technological industry.</p>
						</div>
						<div class="item">
							<img class="img-circle" src="images/02.jpg" alt="">
							<h4>Arfatay jholy</h4>
							<small>Graphics Designer</small>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. from user interactions, to your journey throughout the development process and beyond and it takes the experience of our team and our agency to do both.</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tesimonial End -->
    
<!-- contact us Start -->
<section id="contact_us" class="padding80">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="heading">
					<p>KEEP UP TO date</p>
					<h2>Contact <span>Us</span></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="contact_form">
					<div class="form_message">
						<p>Thank you for getting in touch!</p>
					</div>
					<div class="row">
						<form class="form-group">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" class="form-control" placeholder="Name" required> </div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="email" class="form-control" placeholder="Email" required> </div>
							<div class="col-md-12">
								<input type="text" class="form-control" placeholder="Subject"> </div>
							<div class="col-md-12 arrow_set"> <span class="arrow_select"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
								<select class="form-control">
									<option>pricing</option>
									<option>Basic Site $399</option>
									<option>Classic Site $599</option>
									<option>Advanced Site $999</option>
                 </select>
							</div>
							<div class="col-md-12">
								<textarea placeholder="Message" class="form-control"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<input type="submit" value="submit" class="form_button"> </div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="contact_detail">
					<h3>Contact Us For Collaborations,<br>Questions Or To Say Hi!</h3>
					<div class="address_detail"> <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
						<p>000 Bathurst St, any, ON City, Ontario</p>
					</div>
					<div class="address_detail"> <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
						<p>Mon-Fri, 8AM – 4PM US Pacific</p>
					</div>
					<div class="address_detail"> <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
						<a href="mailto:clientcare@automaticwebsite.services">
							<p>youremail@zoonx.com</p>
						</a>
					</div>
					<div class="address_detail"> <span><i class="fa fa-phone" aria-hidden="true"></i></span>
						<p>(123)-123-5896</p>
					</div>
				</div>
				<div class="index1-map">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- contact us End -- >    
    

<!-- Footer Start -->
<footer>
	<div class="footer_top parallaxie">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="footer_top_detail">
						<a href="index.html#."><img src="images/mobile_logo.png" alt="image"> </a>
						<ul class="footer_social padding_top30">
							<li><a href="index.html#"><i class="fa fa-facebook"></i></a> </li>
							<li><a href="index.html#"><i class="fa fa-twitter"></i></a> </li>
							<li><a href="index.html#"><i class="fa fa-vine"></i></a> </li>
							<li><a href="index.html#"><i class="fa fa-linkedin"></i></a> </li>
							<li><a href="index.html#"><i class="fa fa-instagram"></i></a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="footer_top_detail">
						<p>Copyright &copy; 2018 ZOONX. Made with Love By 99_Design</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->

<script src="js/jquery.2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>    
<script src="js/bootsnav.js"></script>

    <!--To View on scroll-->
<script src="js/jquery.appear.js"></script>    
    
    <!--OWL Slider-->
<script src="js/owl.carousel.min.js"></script>

    <!--Cube Gallery-->
<script src="js/cubeportfolio.min.js"></script>
    
    <!--Parallax Bgs-->
<script src="js/parallaxie.js"></script>
	
      <!--Particles Bgs-->
<script src="js/jquery.particleground.min.js"></script>	  
    <!--Counters-->
<script src="js/jquery-countTo.js"></script>
    
    <!--Fancy Popup for imgs videos-->
<script src="js/jquery.fancybox.js"></script>
    
    <!--Revolution Slider main files-->
<script src="js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
<script src="js/revolution/revolution.extension.actions.min.js"></script>
<script src="js/revolution/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution/revolution.extension.navigation.min.js"></script>
<script src="js/revolution/revolution.extension.parallax.min.js"></script>
<script src="js/revolution/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution/revolution.extension.video.min.js"></script>

    
<!--wow transitions-->
<script src="js/wow.min.js"></script>
<script src="js/function.js"></script>
    
<script src="http://maps.google.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U" type="text/javascript"></script>
<script src="js/map.js"></script>
</body>
</html>