@import url("https://fonts.googleapis.com/css?family=Audiowide");
html, body {
    background-color: black !important;
}
#header {
    padding-bottom: 85px;
}
.scrol a {
    outline: none !important;
    font-family: Audiowide;
}
.mobnavbar a{
    outline: none;
    color: aliceblue;
}
.mobnavbar {
    padding-bottom: 20px;
}
.navbar {
    background-color: black;
}
.navbar-brand img {
	max-width: 83px;
	margin-top: -25px;
}

#myNavbar {
    background-color: black;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
* {
  font-family: 'Open Sans';
  font-weight: 600;
}

.user-data {
  font-size: 13px;
  color: black;
  line-height: 25px;
  border-bottom: 2px solid rgba(215, 215, 215, 0.17);
  padding-bottom: 5px;
  padding-top: 15px;
}



.User-area {
  margin-top: 3px;
  padding-top: 3px;
  padding-left: 5px;
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}
.User-area > .User-avtar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 15px -5px #000;
}
.User-area > .User-avtar > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.User-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding-bottom: 10px;
  padding-left:20px;
  width: 210px;
  margin: 0;
  top: 70px;
  right: -9%;
}
.User-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  
  right: 0px;
  box-sizing: border-box;
  border: 7px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 8px -3px rgba(214, 214, 214, 0.78);
}
.User-Dropdown.U-open {
  display: block;
}
.User-Dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.17);
  display: block;
  margin-left: 0px !important;
}
.User-Dropdown > li:last-child {
  border-bottom: 0px;
}
.User-Dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: #1787e0;
  transition: all .2s ease-out;
}
.User-Dropdown span {
  background: #16d67a;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
}
.User-Dropdown > li:before {
  content: '';
  width: 0px;
  height: 40px;
  position: absolute;
  background: #2196F3;
  margin-top: 4px;
  border-radius: 0 1px 1px 0;
  left: 0px;
  transition: all .2s ease;
}
.User-Dropdown > li:hover:before {
  width: 5px;
  border-radius: 30px;
}
.User-Dropdown > li a:hover {
  margin-left: 5px;
}

.logo.logo-scrolled {
    position: fixed;
    left: 25px;
    top: 19px;
    height: 56px;
}

